<div class="item-id" id="<%= event.id%>">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-xs-9 col-sm-10 inside-list">
                <div><%= event.name %></div>
                <div><%= moment(event.eventDate).format("MMM Do YYYY") %></div>
            </div>
            <div class="col-xs-3 col-sm-2 inside-list">
                <div><img class="small-icon" src="/visual-assets/people-icon.png"/> <%= event.numberPeople %></div>
                <div><%= event.price %> €</div>
            </div>
        </div>
        <div class="row-fluid">
            <% if (event.hasIdInArray(user._id, event._favorites) > -1) { %>
                <div class="col-xs-1 inside-list">
                    <span class="glyphicon fav-glyphicon glyphicon-heart" aria-hidden="true"></span>
                </div>
            <% } else { %>
                <div class="col-xs-1 inside-list">
                    <span class="glyphicon fav-glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                </div>
            <% } %>
            <% if (event._creator.equals(user._id)) { %>
                <% if (event.hasIdInArray(user._id, event._assistants) > -1) { %>
                    <div class="col-xs-1 inside-list">
                        <span class="glyphicon assist-glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                    </div>
                <% } else { %>
                    <div class="col-xs-1 inside-list">
                        <span class="glyphicon assist-glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    </div>
                <% } %>
            <% } %>
            <% if (event._creator.equals(user._id)) { %>
                <div class="col-xs-1 inside-list">
                    <a href="/events/<%= event._id%>/edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>                       
                </div>
            <% } %>
        </div>
        <div class="list-hidable list-hidden">
            <div class="row-fluid">
                <div class="col-xs-12 inside-list">
                    <div><%= event._creator.username %></div>
                    <div><%= event.category %></div>
                </div>
            </div>
        </div>
    </div>                    
</div>

<div id="map" class="col-sm-12 centered"></div>