<h1 class="centered title"> Edit your profile </h1>

<form action="/profile" method="POST" enctype="multipart/form-data">

  <div class="form-group col-xs-12 col-md-6 centered">
    <label class="centered" for="username">User name</label>
    <input class="form-control" type="text" id="username" name="username" value="<%= user.username%>">
  </div>

  <div class="form-group col-xs-12 col-md-6 centered">
    <label class="centered" for="picturePath">User name</label>
    <input class="form-control" type="file" id="picturePath" name="picturePath" value="<%= user.picturePath%>">
  </div>

  <div class="form-group centered">
    <label class="control-label" for="categories">Favorite food categories</label>
    <select multiple="multiple" name="categories" id="categories" class="multiselect-ui form-control">
      <% categories.forEach((category) => { %>
        <% if (user.categories.indexOf(category) >= 0) { %>
          <option type="text" value="<%= category %>" selected>
            <%= category %>
          </option>
        <% } else { %>
          <option type="text" value="<%= category %>">
            <%= category %>
          </option>
        <% } %>
      <%  }) %>
    </select>
  </div>


  <div class="form-group col-xs-12 col-md-6 centered">
    <label class="centered" for="address">Address</label>
    <input class="form-control" type="text" name="address" id="address" value="<%= user.address%>">
    <input class="form-control" type="text" name="latitude" id="latitude" value="<%= user.location.coordinates[0]%>">
    <input class="form-control" type="text" name="longitude" id="longitude" value="<%= user.location.coordinates[1]%>">
    <input type="button" value="search address" id="encode">
  </div>

  <div id="map" class="col-sm-12 centered"></div>

 <button type="submit" class="btn btn-primary center-block">Update</button>

</form>
