<h1 class="centered title padd-it">Edit a recipe</h1>

<form class="padd-it">
  <div class="form-group col-xs-3 col-md-4 centered">
  </div>
  <div class="form-group col-xs-6 col-md-4 centered">
    <input class="form-control" type="file" id="file-input" name="file-input">
    <p id="status">Please select a file</p>
    <% if (recipe.picturePath && recipe.picturePath !== "") { %>
      <img id="preview" src="<%= recipe.picturePath %>">
    <% } else { %>
      <img id="preview" src="/images/default.png">
    <% } %>
    <input type="hidden" id="avatar-url" name="avatar-url" value="/images/default.png">
  </div>
</form>

<form action="/recipes/<%= recipe._id %>" method="POST" class="padd-it">

  <input class="form-control" type="hidden" id="picturePath" name="picturePath" value="<%= recipe.picturePath%>">

  <div class="form-group col-xs-10 centered">
    <label class="centered" for="name">Recipe name</label>
    <input class="form-control" type="text" id="name" name="name" value="<%= recipe.name %>">
  </div>

  <div class="form-group col-xs-10 centered">
    <label class="centered" for="ingredients">Ingredients</label>
    <input class="form-control" type="text" id="ingredients" name="ingredients" value="<%= recipe.ingredients %>">
  </div>

  <div class="form-group col-xs-10 centered">
    <label class="centered" for="directions">Cooking directions</label>
    <textarea class="form-control" type="text" name="directions" id="directions" value="<%= recipe.directions %>"></textarea>
  </div>

  <div class="form-group col-xs-10 centered">
    <label class="centered" for="preparationTime">Preparation time (in hours)</label>
    <input class="form-control" type="number" step="any" name="preparationTime" id="preparationTime" value="<%= recipe.preparationTime %>">
  </div>

  <div class="form-group col-xs-10 centered">
    <label class="centered" for="cookingTime">Cooking time (in hours)</label>
    <input class="form-control" type="number" step="any" name="cookingTime" id="cookingTime" value="<%= recipe.cookingTime %>">
  </div>

  <div class="form-group col-xs-10 centered">
    <label class="centered" for="difficulty">Difficulty</label>
    <select class="form-control" type="number" name="difficulty" id="difficulty">
      <% if (recipe.difficulty === 1) { %>
        <option value="1" selected="selected">Easy</option>
        <option value="2">Medium</option>
        <option value="3">Difficult</option>
      <% } else if (recipe.difficulty === 2) { %>
        <option value="1">Easy</option>
        <option value="2" selected="selected">Medium</option>
        <option value="3">Difficult</option>
      <% } else if (recipe.difficulty === 3) { %>
        <option value="1">Easy</option>
        <option value="2">Medium</option>
        <option value="3" selected="selected">Difficult</option>
      <% } else { %>
        <option value="1">Easy</option>
        <option value="2">Medium</option>
        <option value="3">Difficult</option>
      <% } %>
    </select>
  </div>

  <div class="form-group col-xs-10 centered">
    <label class="centered" for="numberPeople">For how many people?</label>
    <input class="form-control" type="number" name="numberPeople" id="numberPeople" value="<%= recipe.numberPeople %>">
  </div>

  <div class="form-group col-xs-10 centered">
    <label class="control-label" for="category">Food category</label>
    <select multiple="multiple" name="category" id="category" class="multiselect-ui form-control">
      <% categories.forEach((category) => { %>
        <% if (recipe.category === category) { %>
          <option type="text" value="<%= category %>" selected>
              <%= category %>
          </option>
        <% } else { %>
          <option type="text" value="<%= category %>">
              <%= category %>
          </option>
        <% } %>
      <%  }) %>
    </select>
  </div>

 <button type="submit" class="btn btn-primary center-block">Update</button>

</form>