<div class="item-id" id="<%= recipe.id%>">
    <div class="container-fluid">
        <div class="row-fluid padd-it">
            <div class="col-xs-10">
                <div class="title"><%= recipe.name %></div>
            </div>
            <div class="col-xs-2">
                <div><img class="small-icon" src="/visual-assets/people-icon.png"/> <%= recipe.numberPeople %></div>
            </div>
        </div>
        <div class="row-fluid padd-it">
            <div class="col-xs-10">
                <a href="/recipes/<%= recipe._id%>"><span class="glyphicon show-glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                <% if (recipe.hasIdInArray(user._id, recipe._favorites) > -1) { %>
                    <span class="glyphicon fav-recipes fav-glyphicon glyphicon-heart" aria-hidden="true"></span>
                <% } else { %>
                    <span class="glyphicon fav-recipes fav-glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                <% } %>
                <% if (recipe._creator.equals(user._id)) { %>
                    <a href="/recipes/<%= recipe._id%>/edit"><span class="glyphicon edit-glyphicon glyphicon-pencil" aria-hidden="true"></span></a>                       
                <% } %>
                <span class="glyphicon add-glyphicon glyphicon-plus" aria-hidden="true"></span>                       
                <span class="glyphicon share-glyphicon glyphicon-share" aria-hidden="true"></span>                       
            </div>
            <div class="col-xs-2">
                <% if (recipe.difficulty === 1) { %>
                    <div>Easy</div>
                <% } else if (recipe.difficulty === 2) { %>
                    <div>Medium</div>
                <% } else if (recipe.difficulty === 3) { %>
                    <div>Difficult</div>
                <% } %>
            </div>
        </div>
        <div class="clear-both">
            <div class="row-fluid padd-it">
                <div class="col-xs-6">
                    <div class="sub-title">Creator</div>
                    <p><%= recipe._creator.username %></p>
                    <div class="sub-title">Category</div>
                    <p><%= recipe.category %></p>
                </div>
                <div class="form-group col-xs-6">
                    <img id="img-detail" src="<%= recipe.picturePath %>">
                </div>
                <div class="col-xs-12">
                    <div class="sub-title">Ingredients</div>
                    <p><%= recipe.ingredients %></p>
                    <div class="sub-title">Directions</div>
                    <p><%= recipe.directions %></p>
                </div>
            </div>
        </div>
    </div>                    
</div>